<div class="container">
    <div class="card">
        <div class="card-header">
            <i class='fas fa-bars'></i> Danh Sách Sinh Viên
        </div>
        <div class="card-body">
            <input style="padding: 5px;" type="text" placeholder="Search.....">
            <button style="padding: 5px; background: blue;">hung</button>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">LasName</th>
                        <th scope="col">FirstName</th>
                        <th scope="col">EnrolData</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Alexander</td>
                        <td>Carsion</td>
                        <td>9/1/2005 12:00:00 AM</td>
                        <td><a href="#"><i class='fas fa-info-circle mr-3'></i></a><a href="#"><i
                                    class='far fa-trash-alt'></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Alexander</td>
                        <td>Carsion</td>
                        <td>9/1/2005 12:00:00 AM</td>
                        <td><a href="#"><i class='fas fa-info-circle mr-3'></i></a><a href="#"><i
                                    class='far fa-trash-alt'></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Alexander</td>
                        <td>Carsion</td>
                        <td>9/1/2005 12:00:00 AM</td>
                        <td><a href="#"><i class='fas fa-info-circle mr-3'></i></a><a href="#"><i
                                    class='far fa-trash-alt'></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-left">
                            <b>Showing 1 of 3</b>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-right">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>