<div class="container">
    <div class="card">
        <div class="card-header">
            <i class='fas fa-bars'></i> Detai
        </div>
        <div class="card-body">
            <p><a href="#">LastName:</a></p>
            <p><a href="#">Alexamber:</a></p>
            <p><a href="#">First name:</a></p>
            <p><a href="#">Carson</a></p>
            <p><a href="#">Eroll date</a></p>
            <p>9/1/2015 12:00:00 AM</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Course Title</th>
                        <th scope="col">Grade</th>
                        <th scope="col">Gredits</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Chemisty</td>
                        <td>65</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Microeconmics</td>
                        <td>67</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Microeconmics</td>
                        <td>66</td>
                        <td>3</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>